body {
    margin: 0;
    background-color: rgb(183, 198, 223);
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 30vh;
    width: 90%;
    margin-top: 20px;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 35px;
    border-radius: 0.6em;
    border : 1px solid gray;
    text-align: center;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.sidebar div{
    margin-top: 20px;
}

li{
    margin-top: 20px;
}